.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.blue {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.green {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.red {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
